version: 2

defaults: &defaults
  working_directory: ~/react-json-reconciler
  docker:
    - image: circleci/node:latest-browsers

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package.json checksum
            # when this file is changed, this key will fail
            - react-json-reconciler-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
            - react-json-reconciler-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - react-json-reconciler-{{ .Branch }}
            # Find the most recent cache used from any branch
            - react-json-reconciler-master
            - react-json-reconciler-
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: react-json-reconciler-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - node_modules
            - ~/.cache/yarn
      - persist_to_workspace:
          root: .
          paths:
            - .

  checkLabels:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/react-json-reconciler
      - run:
          name: Check SemVer label
          command: yarn labelCheck --url $CIRCLE_BUILD_URL

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/react-json-reconciler
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - .

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/react-json-reconciler
      - run:
          name: Lint
          command: yarn lint

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/react-json-reconciler
      - run:
          name: Test
          command: yarn test

  release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/react-json-reconciler
      - run: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: Release
          command: yarn release

workflows:
  version: 2
  build_and_test:
    jobs:
      - install

      - checkLabels:
          requires:
            - install

      - build:
          requires:
            - install

      - lint:
          requires:
            - build

      - test:
          requires:
            - build

      - release:
          requires:
            - test
            - lint